<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.isen.bongiorno.androiderestaurant">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidERestaurant"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity
            android:name="fr.isen.bongiorno.androiderestaurant.ConnectionActivity"
            android:exported="false" />
        <activity
            android:name="fr.isen.bongiorno.androiderestaurant.BasketActivity"
            android:exported="false" />
        <activity
            android:name="fr.isen.bongiorno.androiderestaurant.DetailActivity"
            android:exported="false"
            android:icon="@drawable/ic_launcher_foreground" />
        <activity
            android:name="fr.isen.bongiorno.androiderestaurant.DishesActivity"
            android:exported="false" />
        <activity
            android:name="fr.isen.bongiorno.androiderestaurant.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>